@import "../../styles/color-palette";
@import "../../styles/vars";
@import "../../styles/mixins";

.button {
  width: 200px;
  height: 50px;
  color: $font-light-color;
  font-size: $font-size-large;
  border: 0px;
  border-radius: 25px;
  background-color: $buttons-color;
  cursor: pointer;
  transition: box-shadow 0.05s ease-in;
  &:hover {
    @include complex-shadow-mixin(5, 0px, 10px, 0.1, 20px);
  }
}
